@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');

.App {
  min-height: 150vh;
  margin: 5px;
  background: linear-gradient(200deg, #97C0DC, #AEBCE7, #C5E2E6, #E79BE6);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 8s ease infinite;
    -moz-animation: AnimationName 8s ease infinite;
    animation: AnimationName 8s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}
@keyframes AnimationName {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}

.navbar {
  border: 5px solid #a27b8a;
  border-radius: 10px;
}

.nav-link {
  color: white !important;
  margin-left: 5em;
}

.list-students {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 225px;

}

.quote {
  font-style: italic;
  font-size: 25px;
  font-family: 'Noto Serif', serif;
  line-height: 105%;
}

.quote p {
  color: #8b5c6e;
}

.author span {
  font-size: 22px;
  font-weight: bold;
  color: #422c34;
}
